.one {
    text-align: center;
    color: blue;
    background-color: bisque;
    margin: 3%;
    padding: 0.1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.two {
    text-align: center;
    color: blueviolet;
    background-color: rgb(237, 210, 151);
    margin: 3%;
    padding: 1%;
}

.big {
    background-image: url(https://th.bing.com/th/id/OIP.8a1PiPtsM1tteszo3xBqTwHaEJ?w=315&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    padding: 1%;
    background-size: cover;
    background-repeat: no-repeat;
}